* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: auto;
}
.ordenarBuscar {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  padding-block: 20px;
}

/*FORMULARIO DE BUSQUEDA*/
.inputBuscar,
.odernarSelect,
.inputCreate {
  padding-inline: 10px;
  height: 30px;
  width: 200px;

  border-radius: 3px;
  border: 1px solid rgb(170, 170, 170);
}
.inputBuscar:focus,
.inputCreate:focus,
.odernarSelect:focus {
  outline: none !important;
  border: 1px solid #9acef8;
  transition: 0.3s;
}
.btn-cancelar,
.btn-s,
.btn-cf
 {
  height: 33px;
  border: none;
  width: auto;
  padding-inline: 15px;
  border-radius: 3px;
  box-shadow: 0 0 4px #9acef8;
  background-color: #9acef8;
  color: white;
  cursor: pointer;

}
.btn-cff{
  height: 33px;
  border: none;
  width: auto;
  padding-inline: 15px;
  border-radius: 3px;
  box-shadow: 0 0 4px #f89a9a;
  background-color: #db4338;
  color: white;
  cursor: pointer;
}
.btn-s,
.btn-cf:hover {
  cursor: pointer;
}
/*Carpetas*/
.folders {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.folder:hover {
  cursor: pointer;
}
.folder {

  color: black;
  border: none;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 150px;
  padding: 20px 0 ;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 4px rgb(185, 185, 185);
  margin: auto;
  margin-top: 30px;
  
}
/*CREAR CARPETAS*/
.botonesCrearCancelar{
display: flex;
justify-content: space-around;
}
.createFolder {
  text-align: right;
  padding-inline: 5%;
  padding-block: 20px;
}
.newFolder {
    transition: .4s;
    background:rgba(0, 0, 0, 0.411);
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
}
.formNewF {
  position: relative;
  margin-top: 15%;
  margin-inline:auto ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 30px;
  height: 200px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(136, 136, 136, 0.514);
}
.inputCreate {
  width: auto;
}
.btn-createFolder {
  width: 90px;
}
.show {
  display: block;
  transition: .4s;
}
.btnX{
padding: 5px;
    font-size: 15px;
    position: absolute;
    top:0;
    right: 0;
   text-align: right;
color: rgb(131, 130, 130);
}
.btnX:hover{
    cursor: pointer;
}
.h1-new{
    margin-inline: auto;
}
.btn-createFolder{
    height: 33px;
    border: none;
    width: auto;
    padding-inline: 25px;
    font-size: 14px;
    display: flex;
  flex-direction: column;
  justify-content: space-around;
    border-radius: 3px;
    box-shadow: 0 0 4px #9acef8;
    background-color: #9acef8;
    color: white;
    cursor: pointer;
}