* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* !CREAR UN CSS PARA EL MENU A PARTE */
/* MAIN MENU STYLE */


/**/
/* ESTILOS DE LA TABLA*/
/**/
/* TABLE STYLE */
.table-title {
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #252c47;
  color: #ffffff;
  width: 70%;
}
.table-title h1 {
  text-align: center;
}

.transactionTable {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  box-shadow: 0px 10px 20px 4px rgba(0, 255, 255, 0.226);
  overflow: hidden;
  border: solid 1px gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

thead {
  background-color: #252c47;
}
tbody {
  background-color: #c5dbec;
}

table,
th,
td {
  border-collapse: collapse;

}

th,
td {
  padding: 0.8em 0em;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  border-right: 1px solid rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

/* SPAN STYLE*/
th a {
  text-decoration: none;
  color: #ffffff;
}
th a span {
  padding: 0.5em 2em;
}

.botonEliminar{
  color: #ffffff;
  padding: 0.5em 2em;
}




/**/
/* CODIGO DE SUBIR DOCUMENTOS*/
/**/
/* STYLE FORM */
.contenedor-form{
  padding: 4.4% 0 ;
}
.subcontenedor-form{
  width: 40%;
  padding: 8px;
  margin: auto;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 7px rgb(104, 104, 104);
}

.cabecera-form{
  display: grid;
  grid-template-columns: 3fr 0.5fr;
}

.titulo-form{
  font-weight: bold;
  display: grid;
  width: 70%;
  font-size: 20px;
  margin-bottom: 25px;
}

.boton-guardar{
  background: #2196f3;
  color: #fff;
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  width: max-content;
  height: 35px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  
}


.etiqueta{
  font-weight: bold;
  display: inline-block;
  width: 24%;
}

.campos{
  width: 75%;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(158, 158, 158);
  font-size: 16px;
}
.campos:focus{
  outline: none;
}

.subir-archivo{
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.mensaje{
  padding-bottom: 10px;
  width: 80%;
  text-align: center;
  margin: auto;
  color: #c71d1d;
  font-weight: bold;
}

.mensaje2{
  width: 75%;
  font-size: 12px;
  margin-left: 135px;
  color: #c71d1d;
  font-weight: bold;
}
