*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    padding: 10% 0;
 
}

.form-login{
    width: 400px;
    height: 340px;
    background-color: #4e4d4d;
    margin: 0 auto;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.form-login h5{
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.control{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;

}

.boton{
    width: 100%;
    height: 40px;
    background: #017bab;
    border-radius: none ;
    color:white;
    margin-bottom: 16px;

}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;

}
.form-login a{
    color:white;
    text-decoration: none;
    font-size: 14px;

}
input{
    color: white;
}
.form-login a{
    text-decoration: underline;

}