*{
  padding: 0;
  margin: 0;
}
.main-menu {
    display: inline-flex;
    background: #252c47; /* fallback for old browsers */
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px ;  
    color: white;
    box-shadow: 0 0 4px #252c47;
  }
  .main-menu a,.main-menu {
      text-decoration: none;
      color: #ffffff;
  }
  
  /* HEADER MENU STYLE */
  .header-menu {
    background: #f0f0f0;
    width: 15%;
    font-size: 13px;
    height: 549px;
    box-shadow: 0 0 4px rgb(173, 173, 173) ;
  }
  
  .header-menu ul {
    list-style: none;
  text-align: center;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: #000;  font-weight: bold;
    padding: 2rem 0.5em;
    display: block;
    border-bottom: 1px solid rgb(202, 202, 202);
  
  }
  
  /* *ARREGLAR TRANSITION */
  .header-menu li a:hover {
    background-color: #cecece;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  
  .header-menu li ul {
    background: #f3f3f3; /* fallback for old browsers */
    margin-top: -5.09rem;
    margin-left: 14.6%;
    width: 12em;
    display: none;
    position: absolute;
  }
  
  .header-menu li:hover ul {
    transition: all 0.8s ease-out;
    display: block;
  }
  /* iframe */
  .bodyIndex{
      display: flex;
  }
  .derecha{
  width: 88%;
  }
  